<div *ngIf="forgotPass" class="h-full auth">
    <div class="h-full auth__background" *ngIf="!isSignedIn">
        <div class="flex auth__background-header">
            <div class="auth__background-header__up flex flex-1 justify-end ml-20 pt-3">
                <h1 class="auth__background-header__up-title text-white text-9xl  font-mono">{{!logedIn ? 'Create' : 'Vorkurt'}}</h1>
            </div>
            <!-- this is the bottom button -->
            <div class=" flex flex-1 justify-end auth__background-header__buttom">
                <button mat-ripple class="auth__background-header__buttom--botton bg-white hover:border-2 hover:bg-blue-100 rounded-md text-white pr-3 pl-3 pb-2 pt-2 text-blue-900 mt-3 mr-3  auth__background-container-form-logedIn__button" (click)="changeSignIn()">{{logedIn ? 'Sign Up' : 'Sign In'}}</button>
            </div>
        </div>
        <!-- this is the paragraph -->
        <p class="auth__background-paragraf">This is very careful, before all the aspects you could use this page is for all your needs, you have to be careful first</p>
        <div class=" auth__background-container  flex justify-center items-center elix__height">
            <form class="auth__background-container__form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="flex-col mt-3 mb-8  auth__background-container-form__header">
                    <div elixInputPrimary class=" auth__background-container-form__buttom__input-primary">
                        <h1 class="auth__background-container-form__header-input-primary__sign-in">Sign In</h1>
                        <h1 class="text-4xl auth__background-container-form__create__new-user">Username</h1>
                        <input type="email" class="auth__background-container-form__header--input_primary-email__password" ngModel name="email" required>
                    </div>
                    <span *ngIf="feedback.email" class="text-red-600 absolute my-1 auth__background-container-form__header__feed-back"> * email is not valid</span>
                </div>
                <div class="flex-col mt-3 mb-8  auth__background-container-form__buttom">
                    <div elixInputPrimary class="auth__background-container-form__buttom__input-primary">
                        <h1 class="text-white text-4xl auth__background-container-form__buttom-input__primary-pasword ">Password</h1>
                        <input class=" auth__background-container-form__header-input_primary-email__password" type="password" minlength="6" ngModel name="password" required>
                    </div>
                    <span *ngIf="feedback.password" class="text-red-600 absolute my-1  auth__background-container-form__buttom-feedback__password"> * Password to short</span>
                </div>
                <div class="auth__background-container-form-logedIn">
                    <button class="bg-blue-400 hover:border-2 hover:bg-blue-700 rounded-md text-white pr-3 pl-3 pb-2 pt-2 auth__background-container-form-logedIn__button" [disabled]="!authForm" type="submit">
            {{!logedIn ? 'Sign Up' : 'Sign In'}}
          </button>
                </div>
                <div class="auth__background-container-form--create-new-user--login already created  wrapper-arrow -ml-2 text-blue-400 hover:underline cursor-pointer mt-10 " (click)="changeSignIn()">
                    <span class="auth__background-container-form--create-new-user--login already created"> {{logedIn ? 'Create new User' : 'User already created'}}</span>
                </div>
                <div class="auth__background-container-form__forget-password">
                    <div class="auth__background-container-form__forget-password__password  wrapper-arrow -ml-2 text-blue-400 hover:underline cursor-pointer mt-20 " [routerLink]="'/forgot_password'">
                        <span>forgot password</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="!forgotPass" class="h-full">
</div>