.auth{
  background-image: url("https://cutewallpaper.org/25/animated-mountains-wallpaper/452625357.jpg");
  width: 100%;
  height: 100%;
}

.elix__height {
  height: 94%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auth__background-header__up-title {
  color: #1e4855;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 50px;
  transition: background 1s, border-color 0.2s;
}

.auth__background-container {
  opacity: 0.9;
  height: 800px;
  width: 500px;
  padding: 1rem;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  margin-left: 650px;
  transition: all 5s;
}

input {
  color: rgb(227, 221, 221);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 33px;
  padding: 20px;
  margin: 5px;
  // background-color: #fff;
  &:hover {
    color: rgb(9, 2, 2);
    background-color: #fff;
  }
}

.auth__background-container-form__buttom__input_primary-input {
  color: rgb(15, 5, 5);
  padding: 2px;
  border: 1px solid #1a0808;
  &:hover {
    border-radius: 13px;
    color: rgb(227, 226, 240);
    transition: all 3s linear;
  }
}

.auth__background-container-form__buttom-input__primary-pasword {
  color: rgb(245, 235, 235);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  font-size: 30px;
  padding: 6px;
  color: #fff;
  padding: 1rem;
}

.auth__background-container-form__create__new-user {
  color: rgb(2, 6, 21);
  font-size: 30px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.auth__background-container-form-logedIn__button {
  color: rgb(254, 251, 251);
  background-color: rgb(0, 0, 0);
  height: 40px;
  width: 300px;
  font-size: 35px;
  transition: all 1s linear;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  &:hover {
    font-size: 35px;
    color: rgb(3, 0, 0);
    background-color: rgb(244, 243, 248);
  }
}

.auth__background-paragraf {
  color: #271a31;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  padding: 15px;
  margin: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.auth__background-container-form__header--input_primary__sign__in {
  text-align: center;
  padding: 120px;
  font-size: 40px;
  margin: 100px;
}