.elix__height {
    height: 94%;
}

.wrapper-arrow {
    position: absolute;
}

body {
    background: linear-gradient(-45deg, #06215f, #242425);
    background-size: 100% 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.color-font-transition {
    text-align: center;
    font-size: 50px;
    transition: background 1s, border-color 0.2s;
}

.backgroundColor__night {
    height: 700px;
    width: 700px;
    padding: 3rem;
    box-shadow: 0 0 90px rgba(0, 0, 0, 02);
    border-radius: 8px;
    background: linear-gradient(-45deg, #676869, #1e4855, );
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 550px;
    transition: all 5s;
    &:hover {
        box-shadow: 0 0 110px rgb(63, 141, 187);
        transform-origin: 6px;
        opacity: 0.8;
    }
}

.background__color__size-hover__padding {
    color: rgb(240, 232, 232);
    font-family: 'arial';
    font-size: 33px;
    padding: 6px;
    // background-color: #fff;
    &:hover {
        color: rgb(9, 2, 2);
        background-color: #fff;
    }
}

.color {
    color: #fff;
    padding: 1rem;
    border: 2px solid #dddddd;
    &:hover {
        color: rgb(0, 255, 42);
    }
}

.text-4xl {
    color: rgb(15, 2, 2);
    font-family: 'Courier New', Courier, monospace;
}

.rounded-md {
    color: rgb(254, 251, 251);
    background-color: rgb(20, 7, 7);
    height: 40px;
    width: 300px;
    font-size: 35px;
    &:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
}

.color:hover {
    border-radius: 13px;
    color: rgb(227, 226, 240);
    transition: all 3s linear
}

.paragaraf {
    text-align: center;
    font-size: 25px;
    padding: 15px;
    margin: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heter {
    font-size: 40px;
}

.loggin {
    text-align: center;
    padding: 90px;
    font-size: 40px;
    margin: 100px;
}