.auth {
  background-image: url("https://cutewallpaper.org/25/animated-mountains-wallpaper/452625357.jpg");
  width: 100%;
  height: 100%;
}

.elix__height {
  height: 100%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auth__background-header__up-title {
  color: #1e4855;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 50px;
  -webkit-transition: background 1s, border-color 0.2s;
  transition: background 1s, border-color 0.2s;
}

.auth__background-container {
  opacity: 0.9;
  height: 800px;
  width: 500px;
  padding: 1rem;
  border-radius: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  margin-left: 650px;
  -webkit-transition: all 5s;
  transition: all 5s;
}

input {
  color: #e3dddd;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 33px;
  padding: 20px;
  margin: 5px;
}

input:hover {
  color: #090202;
  background-color: #fff;
}

.auth__background-container-form__buttom__input_primary-input {
  color: #0f0505;
  padding: 2rem;
  border: 1px solid #1a0808;
}

.auth__background-container-form__buttom__input_primary-input:hover {
  border-radius: 13px;
  color: #e3e2f0;
  -webkit-transition: all 3s linear;
  transition: all 3s linear;
}

.auth__background-container-form__forget-password {
  color: #f9f6f6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  font-size: 30px;
  padding: 6px;
  color: #fff;
  padding: 1rem;
}

.auth__background-container-form__buttom__input__primary-pasword {
  color: #f5ebeb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  font-size: 30px;
  padding: 6px;
  color: #fff;
  padding: 1rem;
}

.auth__background-container-form--create-new-user {
  color: #020615;
  font-size: 30px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.auth__background-container-form-logedIn__button {
  color: #fefbfb;
  background-color: black;
  height: 40px;
  width: 300px;
  font-size: 35px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.auth__background-container-form-logedIn__button:hover {
  font-size: 35px;
  color: #030000;
  background-color: #f4f3f8;
}

.auth__background-paragraf {
  color: #271a31;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  padding: 15px;
  margin: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.auth__background-container-form__header--input_primary__sign__in {
  text-align: center;
  padding: 120px;
  font-size: 40px;
  margin: 100px;
}

.auth__background-container-form__header--input_primary__sign__in {
  text-align: center;
  padding: 120px;
  font-size: 40px;
  margin: 100px;
  color: black;
}
/*# sourceMappingURL=auth.component.css.map */
