elix-table {
  mat-table {
	color           : transparent;
	border-collapse : collapse;
	border-radius   : 0.5em 0.5em 0 0;
	overflow        : hidden;
  }
  
  mat-header-row {
	min-height : 1.5rem;;

	mat-header-cell {
	  min-height : inherit;
	}
  }

  mat-header-cell {
	color : var(--primary-color-text) !important;
  }

  .header-color {
	background : #2d333b;
  }
}
