<div class="h-full forgot">
    <div>
        <div class="flex justify-center pt-3 forgot--header">
            <h1 class="text-white text-9xl  forgot--header__title">Forgot Password</h1>
        </div>
        <div class="form-group fan forgot__container">
            <div class="flex h-full items-center justify-center flex-col forgot__container--form">
                <form class="forgot__container--form__forgotPass" #forgotPass="ngForm" (ngSubmit)="forgotPassword(forgotPass)">
                    <div class="flex-col mt-3 mb-8 forgot__container--form__forgotPass__email-and-username">
                        <div elixInputPrimary>
                            <h1 class="text-white text-4xl forgot__container--form__forgotPass__email-and-username__input--h1">Email of username</h1>
                            <input class="forgot__container--form__forgotPass__email-and-username__input" type="email" ngModel name="email" required>
                        </div>
                    </div>
                    <div class="flex forgot__container--form__forgotPass__buttom">
                        <div class="mr-5">
                            <button class="btn forgot__container--form__forgotPass__buttom__send-email" [disabled]="!getVelocityEmail(forgotPass)" elixBtnPrimary type="submit">Send Email</button>
                        </div>
                        <div>
                            <button class="forgot__container--form__forgotPass__buttom__go-back" elixBtnPrimary type="submit" [routerLink]="['/','auth/l']"> Go back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
