<elix-table [dataSource]="dataSource" >
	<elix-column-text className="position" [iconClass]="'elixir'" field="position" name="Position" ></elix-column-text >
	<elix-column-text className="Name" [iconClass]="'elixir'" field="name" name="Name" ></elix-column-text >
	<elix-column-area-text className="whe" name="Symbol" [iconClass]="'fa_solid:plus'"
	                       field="whe" ></elix-column-area-text >
	<elix-column-icon-action className="action" name="Action"
	                         field="action"  iconClass="fa_solid:sort-down"></elix-column-icon-action >

</elix-table >

