<elix-table [dataSource]="dataSource" >
	<elix-column-text className="position" [iconClass]="'elixir'" field="position" name="Position" ></elix-column-text >
	<elix-column-text className="position" [iconClass]="'elixir'" field="name" name="Name" ></elix-column-text >
	<elix-column-icon-action className="position" [iconClass]="'fa_solid:plus'" field="symbol"
	                         name="Symbol" ></elix-column-icon-action >
	<elix-column-area-text className="position" [iconClass]="'elixir'" field="weighte" name="Comments"
	></elix-column-area-text >
</elix-table >
